version: '3.8'

services:

  db:
    image: postgres:13.0-alpine
    volumes:
      - db_value:/var/lib/postgresql/data/
    env_file:
      - ../backend/.env

  backend:
    build:
      context: ../backend/
      dockerfile: Dockerfile
    restart: always
    volumes:
      - static_value:/app/static/backend/
      - media_value:/app/media/
    depends_on:
      - db
    env_file:
      - ../backend/.env

  frontend:
    build:
      context: ../frontend/
      dockerfile: Dockerfile
    volumes:
      - ../frontend/:/app/result_build/
      - static_value:/app/static/frontend/
    depends_on:
     - backend

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - frontend

volumes:
  db_value:
  static_value:
  media_value:

